<!-- <app-products></app-products> -->
<!-- <app-numbers></app-numbers> -->
<!-- <app-accounts></app-accounts> -->
<!-- <app-home></app-home> -->

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li
          role="presentation"
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="numbers">Numbers</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="accounts">Accounts</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="users">Users</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="observables">Observables</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="servers">Servers</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="tforms">Form</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="rforms">RForms</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-products></app-products>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-numbers></app-numbers>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-accounts></app-accounts>
    </div>
  </div> -->
</div>
